{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>TodoApp - Create A Todo With Django</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     {% if LANGUAGE_BIDI %}
          <link rel="stylesheet" href="{% static 'todo/css/bootstrap-rtl.min.css' %}">
      {% endif %}


   <link rel="stylesheet" type="text/css" href="{% static 'todo/css/style.css' %}">
    {% block styles %}

    {% endblock styles %}

</head>

<body>
<div django-app="TaskManager">
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div><!-- container -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% block script %}
{% endblock script %}
</body>
</html>
